@import "../../../../assets/colors.css";
.visitors--prediction--row {
    margin-top: 20px;
    display: flex;
}

.visitors--prediction--gender {
    flex: 1;
}

.visitors--prediction--per--day {
    margin-right: 20px;
    flex: 2;
}

.total--visitors--prediction {
    width: auto;
}

.total--visitors--content {
    display: flex;
    justify-content: space-between;
}

.total--visitors--resume {
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 50px;
}

.total--visitors--period {
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    color: var(--accent1);
}

.total--visitors--number {
    font-weight: 300;
    font-size: 43px;
    line-height: 43px;
    letter-spacing: -1px;
    color: var(--accent1);
}

.total--visitors--relevant--data {
    margin-right: 80px;
    display: flex;
    flex-direction: row;
}

.total--visitors--relevant--data--title {
    font-size: 14px;
    letter-spacing: 0.5px;
    color: var(--neutral6);
}

.total--visitors--relevant--data--part1 {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    color: #343948;
}

.total--visitors--relevant--data--part2 {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: #343948;
}

.vl {
    box-sizing: border-box;
    border: 1px solid var(--neutral5);
    height: 100%;
  }