@import "../../../../assets/colors.css";
.visitors--prediction--row {
    margin-top: 20px;
    display: flex;
}

#__graph_container {
    display: block;
    height: 400px;
    width: 400px;
}

.visitors--prediction--gender {
    flex: 1;
}

.visitors--prediction--per--day {
    margin-right: 20px;
    flex: 2;
    height: 400px;
}

.visitors--prediction--per--day--graph {
    height:100%;
    display: block;
    
}
.total--visitors--prediction {
    width: auto;
}

.visitors--prediction--per--day--label {
    display: flex;
}

.label {
    width: 9px;
    height: 9px;
    align-self: center;
    margin-left: 12px;
    margin-right: 5px;
    border-radius: 10px;
}

.bg-accent1 {
    background: #66A3FF;
}

.color-green {
    color: #87B009;
}
.bg-green {
    background: #87B009;
}

.color-orange {
    color: #FCB802;
}
.bg-orange {
    background: #FCB802;
}


.color-accent1 {
    color: #66A3FF;
}


.total--visitors--content {
    display: flex;
    justify-content: space-between;
}

.total--visitors--resume {
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 50px;
}

.total--visitors--period {
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    color: var(--accent1);
}

.total--visitors--number {
    font-weight: 300;
    font-size: 43px;
    line-height: 43px;
    letter-spacing: -1px;
    color: var(--accent1);
}

.total--visitors--relevant--data {
    margin-right: 80px;
    display: flex;
    flex-direction: row;
}

.total--visitors--relevant--data--title {
    font-size: 14px;
    letter-spacing: 0.5px;
    color: var(--neutral6);
}

.total--visitors--relevant--data--part1 {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    color: #343948;
}

.total--visitors--relevant--data--part2 {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: #343948;
}

.vl {
    box-sizing: border-box;
    border: 1px solid var(--neutral5);
    height: 100%;
  }