:root {
    --neutral0: #ffffff;
    --neutral1: #f4f4f4;
    --neutral2: #eaeaea;
    --neutral3: #d9d9d9;
    --neutral4: #bfbfbf;
    --neutral5: #a6a6a6;
    --neutral6: #8c8c8c;
    --neutral7: #666666;
    --neutral8: #4d4d4d;
    --neutral9: #333333;
    --neutral10: #000000;

    --chart1: #1aa992;
    --chart2: #ff0099;
    --chart3: #00aaee;
    --chart4: #ff7a00;
    --chart5: #547d93;
    --chart6: #00c3db;
    --chart7: #ff3f0f;
    --chart8: #c3d100;
    --chart9: #0057a7;
    --chart10: #fae400;
    --chart11: #0082c5;
    --chart12: #0057a7;
    --chart13: #5f58b8;

    --accent1: #0066ff;
    --accent1_d20: #0051cc;
    --accent1_d40: #003c98;
    --accent1_l40: #66a3ff;
    --accent1_l80: #cce0ff;
    --accent2: #1aa992;
    --accent2_d20: #148774;
    --accent2_d40: #0f6457;
    --accent2_l40: #75cbbd;
    --accent2_l80: #d1ede9;

    --white20: #ffffff33;
    --black50: #00000080;
    --black30: #0000004d;
    --black20: #00000033;
    --black10: #0000001a;

    --white: #fff;
}
