/* You can add global styles to this file, and also import other style files */
@import './assets/fonts.css';
@import './assets/tooltip.css';

body {
    font-family: "TeleSans-Regular";
}

.border--box {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 40px;
    gap: 20px;
    isolation: isolate;
    border: 2px solid var(--neutral1);
    border-radius: 8px;
}

div {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;      
}

.border--box--title {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
}
